# Phoenix / elixir
MIX_ENV=dev
SECRET_KEY_BASE=ETjxqaChF4vDOqlqZpA9E794pIuFxF610utF9YZD0MGeporW5JF5VZLIQaKK89Y4
PHX_HOST=localhost
PORT=4000 # If you change the port don't forget to update the Caddyfile. I tried to use env variables in it but it doesn't seem to work

# Postgres
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=database

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=

# Sendgrid (optional in dev)
SENDGRID_API_KEY=
SENDGRID_DOMAIN=

# Google OAuth (optional in dev)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=