<h1 class="text-center text-4xl font-bold underline underline-offset-8 decoration-4 decoration-purple-800 dark:decoration-green-600 dark:text-white">
  <%= @user.first_name %> <%= @user.last_name %>
</h1>

<.live_component
  module={CommunoteWeb.NoteLive.GridComponent}
  id={:grid}
  notes={@notes}
/>
